body{
    background-color: #b3b149;
}

.cv-block{
    margin-top: 2%;
}

.list-group-item{
    background-color: transparent;
    font-family: Avenir;
    color: darkolivegreen;
    font-size: 200%;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    font-weight: bold;
    /* border-right-width: 3px;
    border-right-color: white; */
    margin-right: 10%;
}

.list-group a:hover{
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

.list-group{
    border-radius: 0;
}

.side-a{
    text-decoration: none;
}

.card-title a{
    font-family: Georgia;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.card-text{
    font-family: Avenir;
    color: #b3b149;
    font-weight: bold;
}

.control-theory{
    height: 300px;
    margin-bottom: 10%;
}

.convex-opt{
    height: 300px;
    margin-bottom: 10%;
}

.deep-learning{
    height: 300px;
    margin-bottom: 10%;
}

.random{
    height: 300px;
    margin-bottom: 10%;
}

.card{
    background-color: darkolivegreen;
    height: 300px;
}

.blog-title{
    font-family: Georgia;
    color: #FFFEB5;
    font-weight: bold;
}

.blog-content{
    font-family: Avenir;
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.full-page-blog{
    padding-left: 10%;
    padding-right: 10%;
}