body{
    background-color: #b3b149;
}

.cv-block{
    margin-top: 2%;
}

.list-group-item{
    background-color: transparent;
    font-family: Avenir;
    color: darkolivegreen;
    font-size: 200%;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    font-weight: bold;
    /* border-right-width: 3px;
    border-right-color: white; */
    margin-right: 10%;
}

.list-group a:hover{
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

.list-group{
    border-radius: 0;
}

.side-a{
    text-decoration: none;
}

.card-title a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.card-text{
    font-family: Avenir, Helvetica;
    color: #b3b149;
    font-weight: 500;
    font-size: 16px;
}

.control-theory{
    height: 300px;
    margin-bottom: 2.5%;
}

.convex-opt{
    height: 300px;
    margin-bottom: 2.5%;
}

.deep-learning{
    height: 300px;
    margin-bottom: 2.5%;
}

.random{
    height: 300px;
    margin-bottom: 2.5%;
}

.card{
    background-color: darkolivegreen;
    height: 300px;
    border: none;
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.2);
}

.card:hover{
    box-shadow: 4px 4px 15px 6px rgba(0,0,0,0.2);
}

.blog-title{
    font-family: Avenir, Helvetica, Georgia;
    color: darkolivegreen;
    font-weight: bolder;
    padding-left: 10%;
}

.blog-content{
    font-family: Georgia, 'Times New Roman', Times, serif, Avenir, Helvetica;
    color: white;
    font-size: 20px;
}

.blog-date{
    font-family: Avenir, Helvetica;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10%;
    color:darkolivegreen;
}

.full-page-blog{
    padding-left: 10%;
    padding-right: 10%;
}

p a{
    color:white;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
    color: white;
}

pre, line-numbers{
    margin-left: 10% !important;
    /* margin-right: 10% !important; */
}

.citation{
    color: beige;
    font-family: Avenir, Helvetica;
    font-size: 100%;
}

.cards {
    margin-right: 10%;
}

.table{
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
    font-family: Avenir, Helvetica;
    color: white;
}

.table-head-style{
    font-weight: bold;
    font-size: large;
}

.table-body-style{
    font-size: large;
}