body{
    background-color: #257cb3;
}

h1{
    color: seashell;
    font-weight: bold;
    font-family: Avenir;
}

.edu-links{
    font-family: Garamond;
    display: inline-block;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 150%;
    font-weight: bold;
}

.cv-block{
    margin-top: 2%;
}

.edu_years{
    font-family: Garamond;
    display: inline-block;
    color: #ffffff !important;
    font-size: 150%;
}

.edu-major{
    font-family: Garamond;
    display: block;
    color: #ffffff !important;
    font-size: 125%;
    font-style: italic;
}

.edu-title{
    font-family: Garamond;
}