---
title: Bolun's CV
page-type: cv
---

<div class="container cv-block">
    <div class="row">
        <div class="d-none d-xl-block col-xl-2">
            <div id="side-list" class="list-group sticky-top">
                <a class="list-group-item" href="#education">Education</a>
                <a class="list-group-item" href="#pro-research">Research &amp Work Experience</a>
                <a class="list-group-item" href="#skills">Skills</a>
                <a class="list-group-item" href="../../img/cv-materials/Bolun-Dai-CV.pdf">Download PDF</a>
            </div>
        </div>

        <div class="col-12 col-xl-10">
            <div class="row">
                <h2 class="edu-title" id="education">Education</h2>
                <hr style="height:4px; border-width:0; color:white; background-color:white">

                {% for item in site.data.education %}
                <a class="edu-links col-6 col-lg-9" href="{{ item.school_link }}">{{ item.school_name }}</a>
                <p class="edu_years col-6 col-lg-3 text-end">{{ item.time_period }}</p>
                <p class="edu-major">{{ item.degree }}</p>
                {% endfor %}

                <h2 class="edu-title" id="pro-research">Research &amp Work Experience</h2>
                <hr style="height:4px; border-width:0; color:white; background-color:white">

                {% for item in site.data.experience %}
                <a class="edu-links col-6 col-lg-9" href="#">{{item.title}}</a>
                <p class="edu_years col-6 col-lg-3 text-end">{{item.time}}</p>
                <p class="edu-major">{{item.place}}</p>
                <ul>
                    {% if item.job1 != "None" %}
                    <li class="edu-content">
                        {{item.job1}}
                    </li>
                    {% endif %}

                    {% if item.job2 != "None" %}
                    <li class="edu-content">
                        {{item.job2}}
                    </li>
                    {% endif %}

                    {% if item.job3 != "None" %}
                    <li class="edu-content">
                        {{item.job3}}
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}

                <br>
                <h2 class="edu-title" id="skills">Skills</h2>
                <hr style="height:4px; border-width:0; color:white; background-color:white">

                <ul>
                    {% for item in site.data.skills %}
                    <li class="edu-content">
                        {{item.name}}: {{item.content}}
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>