@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Tinos');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    background-color: #e56530;
}

.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.card-author {
    font-family: Avenir, Montserrat, Helvetica;
    color: white;
    margin-top: 15%;
    font-size: 16px;
}

.card-publish {
    font-family: Avenir, Montserrat, Helvetica;
    color: white;
    font-size: 16px;
    margin-top: 5%;
    font-style: italic;
}

.card-text {
    font-family: Roboto, Avenir, Helvetica;
    color: #fdcda5;
    font-weight: 400;
}

.research-card {
    background-color: #B35025;
    border: none;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.2);
}

.arxiv-link {
    color: white;
    text-decoration: none;
}

.arxiv-link:hover {
    text-decoration: underline;
    color: white;
}

.research-block {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.abstract-toggle {
    background: none;
    border: none;
    padding: 0;
    font-family: Avenir, Montserrat, Helvetica;
    color: white;
    font-size: 16px;
    font-style: italic;
    margin-top: 5%;
    cursor: pointer;

    .abstract-arrow {
        display: inline-block;
        transition: transform 0.2s ease;
    }

    &[aria-expanded="true"] .abstract-arrow {
        transform: rotate(180deg);
    }
}

.abstract-mobile {
    margin-top: 8px;
    padding-bottom: 8px;
}

@media (max-width: 991.98px) {
    .card-author {
        margin-top: 12px;
    }

    .card-publish {
        margin-top: 6px;
    }

    .abstract-toggle {
        margin-top: 8px;
    }
}

@media (max-width: 767.98px) {
    .card-title {
        font-size: 28px;
    }

    .card-author {
        font-size: 18px;
    }

    .card-publish {
        font-size: 18px;
    }

    .abstract-toggle {
        font-size: 18px;
    }

    .abstract-mobile {
        font-size: 18px;
    }
}