<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">

  {% if page.page-type == "blog" %}
  <link rel="stylesheet" href="/assets/css/blog.css">
  {% endif %}

  {% if page.page-type == "cv" %}
  <link rel="stylesheet" href="/assets/css/cv.css">
  {% endif %}

  {% if page.page-type == "research" %}
  <link rel="stylesheet" href="/assets/css/research.css">
  {% endif %}

  <script src="/assets/js/utils.js"></script>

  {% if page.page-type == "blog-post" %}
  <link rel="stylesheet" href="/assets/css/blog.css">
  <script src="https://distill.pub/template.v2.js"></script>
  <script defer type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  {% endif %}

  {% feed_meta %}
  {% seo %}
  {% include google_analytics.html %}
</head>

{% if page.page-type == blog-post %}
<d-front-matter>
  <script async type="text/json">{
      "title": "{{ page.title }}",
      "published": "{{ page.date | date: '%B %-d, %Y' }}",
      "katex": {
        "delimiters": [
          {
            "left": "$",
            "right": "$",
            "display": false
          },
          {
            "left": "$$",
            "right": "$$",
            "display": true
          }
        ]
      }
    }</script>
</d-front-matter>
{% endif %}

<body class="mx-auto" style="width: 96%;">
  <div id="page-container">
    <div id="content-wrap">
      {% include navigation.html %}
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
</body>

{% if page.page-type == "blog-post" %}
<d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}">
</d-bibliography>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>